@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}

/* Consignes __________________________________________________________________*/
body {
    background-image: url(./images/fond_ecran.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Shadows Into Light', 'Gloria Hallelujah', cursive;
    font-size: 3.5vh;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px black;
    color: white;
}
.box-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.box-text {
    max-width: 700px;
}
.img_sorciere {
    margin-top: 50px;
    width: 400px;
    height: 400px;
}


/* Jeu ____________________________________________________________________________*/
.start {
    font-family: 'Shadows Into Light', 'Gloria Hallelujah', cursive;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px black;
    color: white;
    background-color: rgba(144, 136, 136, 0.2);
    padding: 10px;
    border: none;
    border-radius: 2%;
}
.start:hover {
    background-color: rgba(144, 136, 136, 0.6);
    transition: 2.5s;
    cursor: pointer;
}
button {
    background: rgba(0, 0, 0, 0);
    border: none;
}
button:hover {
    cursor: pointer;
}
.doors {
    display: flex;
    justify-content: center;
    align-items: center;
}
.door1, .door2, .door3 {
    width: 30vw;
}

/* Footer ________________________________________________________________________*/
footer {
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto';
    text-shadow: 2px 2px black;
}
a {
    font-family: 'Shadows Into Light', 'Gloria Hallelujah', cursive;
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 25px;
}
a:hover {
    text-shadow: 1px 1px white;
}

/* Responsive _______________________________________________________________*/

@media only screen and (max-width: 705px) {
    body {
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .img_sorciere {
        margin-top: 20px;
        width: 250px;
        height: 250px;
    }
    .door1, .door2, .door3 {
        width: 20vw;
    }
    footer {
        font-size: 10px;
    }
    a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 705px) {
    .img_sorciere {
        width: 180px;
        height: 180px;
    }
}